.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;
  z-index: 100;
}

.icons-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: var(--padding-xl);

  display: flex;
  flex-wrap: wrap;

  z-index: 100;
  transition: width var(--transition), height var(--transition),
    padding var(--transition);
}

.icon-container {
  flex: 0 0 50%;
  width: min-content;
  display: flex;
}

.icon-container:nth-child(1) {
  justify-content: flex-start;
  align-items: flex-start;
}

.icon-container:nth-child(2) {
  justify-content: flex-end;
  align-items: flex-start;
}

.icon-container:nth-child(3) {
  justify-content: flex-start;
  align-items: flex-end;
}

.icon-container:nth-child(4) {
  justify-content: flex-end;
  align-items: flex-end;
}

.rainbow-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.rainbow-icon-wrapper {
  width: 100%;
  /* max-height: min-content; */
}

.rainbow-wipe-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rainbow-icon {
  width: 100%;
  height: 100%;
  max-height: 70vh;
  object-fit: contain;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (width < 1200px) {
  .icon-container img {
    width: 4rem;
  }
}

@media screen and (width < 900px) {
  .rainbow-icon-wrapper canvas {
    display: none;
  }

  .icon-container img {
    width: 3rem;
  }

  .icon-container:nth-child(1) img {
    animation: spin 4s ease-in-out infinite;
  }

  .icon-container:nth-child(2) img {
    animation: spin 1.5s ease-in-out reverse infinite;
  }

  .icon-container:nth-child(3) img {
    animation: spin 2.67s ease-in-out reverse infinite;
  }

  .icon-container:nth-child(4) img {
    animation: spin 2s ease-in-out infinite;
  }
}
