:root {
  --color-body: #000000;
  --color-background: #e7ecd8;

  --padding: 0.9375rem;
  --padding-xs: calc(var(--padding) / 4);
  --padding-sm: calc(var(--padding) / 2);
  --padding-lg: calc(var(--padding) * 2);
  --padding-xl: calc(var(--padding) * 4);

  --font-family-body: alpinaTypewriter, "Courier New", "Courier", monospace;

  --transition: 0.3s ease-in-out;
}

@media screen and (width < 1200px) {
  :root {
    --padding-xl: 2.5rem;
  }
}

@media screen and (width < 900px) {
  :root {
    --padding-xl: 1.25rem;
  }
}
